<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories</title>
</head>
<body>
    {{!-- <div class='home'>
        <a class='btn blue darken-1' href="/login">Login</a>
        <a class='btn blue darken-1' href="/dashboard">Dashboard</a>
    </div> --}}

  <div class='card-container'>
  <div class="row">
    <div class="col s12 m7">
      <div class="card card-style">
        <div class="card-image">
          <img src="https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <span class="text-white text-darken-3 card-title">Story-1</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <a href="#"><span class='text-right'>More</span></a>
        </div>
      </div>
    </div>
  </div>
                
</body>
</html>