.home{
    margin-top: 10vh;
}

p{
    margin:10px 0 !important;
}

.login-container{
    width:500px;
    margin-top:12vh;
    text-align:center;
}

.card-container{
    margin-top:5%;
    width:40vw;
}